<div class="col-lg-3">
    <div class="card mb-4 shadow">
        <a href={% url "service_details" pk=service.id %}>
            <img src="{{service.thumbnail.url}}" alt="course" class="card-img-top" />
        </a>
        <div class="card-body">
            <h4 class="mb-2 text-truncate-line-2"><a href="course-detail.html" class="text-inherit text-dark text-decoration-none">{{service.name|capfirst}}</a></h4>
            <p>{{service.description|truncatewords:'15'}}</p>
            <div class="mt-2">
                <span class="fw-semibold">Doctors Available: {{service.doctors_available.count|default:"0"}}</span>
                <div class="lh-1 mt-3">
                    <span class="text-dark fw-bold fs-4">${{service.cost}}</span>
                </div>
                <a href="services-detail.html" class="btn btn-sm btn-primary mt-3">Book Appointment <i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</div>