{% extends 'base.html' %}

{% block body %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include "patient/includes/sidebar.html" %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Appointment Detail #12345</h4>
                <div class="card mb-4">
                    <div class="shadow border p-3 mb-4 rounded-4">
                        <p>
                            <a>
                                <p><span class="fw-semibold text-dark">Appointment ID:</span> #{{appointment.appointment_id}}</p>
                                <p><span class="fw-semibold text-dark">Service:</span> {{appointment.service.name|capfirst}}</p>
                                <p><span class="fw-semibold text-dark">Patient:</span> {{appointment.patient.full_name|capfirst}}</p>
                                <p><span class="fw-semibold text-dark">Issue:</span> {{appointment.issues}}</p>
                                <p><span class="fw-semibold text-dark">Symptoms:</span> {{appointment.symptoms}}</p>
                                <p><span class="fw-semibold text-dark">Status:</span> {{appointment.status|upper}}</p>
                                <p><span class="fw-semibold text-dark">Date:</span> {{appointment.appointment_date}}</p>
                                <p>
                                    <span class="fw-semibold text-dark">Action:</span>
                                    {% if appointment.status|lower == 'completed' %}
                                        <a href="javascript:void(0)" class="btn btn-success btn-sm">Complete Appointment <i class="fas fa-check-circle ms-2"></i></a>
                                    {% elif appointment.status|lower == 'cancelled' %}
                                        <a href={% url "patient_activate_appointment" appointment_id=appointment.appointment_id %} class="btn btn-outline-info btn-sm">Re-Activate Appointment <i class="fas fa-check-circle ms-2"></i></a>
                                    {% else %}
                                        <a href={% url "patient_cancel_appointment" appointment_id=appointment.appointment_id %} class="btn btn-outline-danger btn-sm">Cancel Appointment <i class="fas fa-trash ms-2"></i></a>
                                        <a href={% url "patient_complete_appointment" appointment_id=appointment.appointment_id %} class="btn btn-outline-success btn-sm">Complete Appointment <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}
                                </p>
                            </a>
                        </p>
                    </div>
                </div>

                <h4 class="mb-0 mb-4 fw-bold">Medical Reports</h4>
                <div class="card mb-4">
                    <div class="border p-3 mb-4 rounded-4">
                        {% for medical_record in medical_records %}
                            <div class="shadow p-3 rounded-4 mb-3">
                                <p><span class="fw-semibold text-dark">Diagnosis:</span> {{medical_record.diagnosis}}</p>
                                <p><span class="fw-semibold text-dark">Treatment:</span> {{medical_record.treatment}}</p>
                            </div>
                        {% empty %}
                            <p>No medical records</p>
                        {% endfor %}
                    </div>
                </div>

                <h4 class="mb-0 mb-4 fw-bold">Labs Tests Reports</h4>
                <div class="card mb-4">
                    <div class="border p-3 mb-4 rounded-4">
                        {% for lab_test in lab_tests %}
                            <div class="shadow p-3 rounded-4 mb-3">
                                <p><span class="fw-semibold text-dark">Test Name:</span> {{lab_test.test_name}}</p>
                                <p><span class="fw-semibold text-dark">Description:</span> {{lab_test.description}}</p>
                                <p><span class="fw-semibold text-dark">Result:</span> {{lab_test.result}}</p>
                            </div>
                        {% empty %}
                            <p>No lab tests</p>
                        {% endfor %}
                    </div>
                </div>

                <h4 class="mb-0 mb-4 fw-bold">Prescription</h4>
                <div class="card mb-4">
                    <div class="border p-3 mb-4 rounded-4">
                        {% for prescription in prescriptions %}
                            <div class="shadow p-3 rounded-4 mb-3">
                                <p><span class="fw-semibold text-dark">Medications:</span> {{prescription.medications}}</p>
                            </div>
                        {% empty %}
                            <p>No prescriptions</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
    